<div class="sidebar">
    <div class="logo_content">
       <div class="logo">
          <div class="logo_name">Connect My Doc </div>
       </div>
       <i class='bx bx-menu-alt-right' id="btn"></i>
    </div>
    <ul class="sidebar_list">
       <li>
          <a routerLink="/">
          <i class='bx bxs-bar-chart-alt-2'></i>
          <span class="list_name">Dashboard</span>
          </a>
       </li>
       <li>
          <a>
          <i class='bx bxs-user'></i>
          <span class="list_name">Patients</span>
          </a>
       </li>
       <li>
          <a>
          <i class='bx bx-conversation'></i>
          <span class="list_name">Chat Room</span>
          </a>
       </li>
       <li>
          <a routerLink="/account-settings">
          <i class='bx bx-cog'></i>
          <span class="list_name">Settings</span>
          </a>
       </li>
    </ul>
 </div>