.image{
    margin: 0% 0% 0% 2%;
}

.rounded-circle{
    height: 90px;
}

.booking{
    margin-right: 5%;
    height: 6rem;
    width: 6rem;
    border-radius: 10%;
}

.bookicon{
    padding-top: 7%;
    padding-left: 8%;
}

.bookingtext{
    font-size:smaller;
    margin-top: -5%;
    padding-left: 8px;
}

.fa-clock-o{
    margin: 25% 21% 21% 15%;
}

.patient_info{
    height: 10rem;
    width: 100%;
}

i{
    color: rgb(91, 172, 204);
}

.vlspace{
    margin-right: -5%;
}

.vl{
    height: 70px;
}
.vl2{
    height: 30px;
    color: lightgray;
}

// drop icon color
.bcolor{
    color: red;
}

.arrows{
    padding-left: 0.5%;
}

.gender{
    -webkit-text-stroke: 1.2px;
}





// merging display

// .col-1{
//     display:grid;
//     grid: 30%;
//     height: 50%;
//     width: 75%;
//     position: relative;
//     align-items: center;
// }
// .col-2{
//     display:grid;
//     grid: 30%;
//     height: 50%;
//     width: 75%;
//     position: relative;
//     align-items: center;
// }
// .col-3{
//     display:grid;
//     grid: 30%;
//     height: 50%;
//     width: 75%;
//     position: relative;
//     align-items: center;
// }