<app-top-header></app-top-header>
<app-sidebar></app-sidebar>
<!--Main layout-->
  <main class ="main-style" >
  
    <div class="container-fluid appointments-container">
        <h4 class="row mt-3 header-text">All Appointments</h4>
        <div class="row mt-3 card-group" >
            <div class="col-3" *ngFor="let appointment of patinentsAppointmentList">
                <div class="card mb-4 crd">
                    <div class="card-body">
                        <div class="row">
                            <img class="col-3 profileImage" src="../../../../../assets/images/avatar.PNG"/>
                                <p class="col-7 mt-2 profileName">{{appointment.name}}</p>
                        </div>
                        <div class="row piped menu-icons">
                            <img class="icon-image col-3" src="../../../../../assets/images/messege.image.png"/> 
                            <img class="icon-image col-3" src="../../../../../assets/images/call.image.png"/> 
                            <img class="icon-image col-3" src="../../../../../assets/images/video.image.png"/>
                        </div>
                        <hr class="line">
                        <div class="row">
                            <p class="col-6 appoint-time" >{{appointment.time}}</p>
                            <p class="col-6  appoint-date" >{{appointment.date}}</p>
                        </div>
                        <div class="row links">
                            <a class="col-6 hyperlinks" href="/patient-details">View Detail</a>
                            <a *ngIf ="appointment.feedbackGiven === 'false'" class="col-6 hyperlinks" (click) = "checkFeed(appointment)">Give feedback</a>
                            <a *ngIf ="appointment.feedbackGiven === 'true'" class="col-6 hyperlinks" (click)="checkFeed(appointment)" >View feedback</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
  </main>
  <!--Main layout-->    
