<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5 bg-white rounded">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0" [style.visibility]="navAppointmentVisibility">

        <li class="nav-item8">
          <a class="nav-link active">Appointments</a>

        </li>
        <a class="navitem1"><i class="fa fa-map-marker" id="mama"></i> St.Marry clinic <img
            src="https://img.icons8.com/ios-glyphs/30/000000/expand-arrow--v1.png" id="arrow"></a>
        <a class="navitem2"><i class="fa fa-stethoscope" id="kk"></i> John Doe <img
            src="https://img.icons8.com/ios-glyphs/30/000000/expand-arrow--v1.png" id="arrow"></a>

        <li class="nav-item">
          <a class="nav-link linktext"><img src="https://img.icons8.com/fluency/48/000000/circled.png"
              id="blue"><span class="ntext">New Appointment</span> </a>

        </li>

      </ul>

      <form class="d-flex">
        <i class="fa fa-bell" aria-hidden="true"></i>
        <span class="badge"></span>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link pname">{{ loggedInUserName }}</a>

          </li>

        </ul>

        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle dropicon" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false"></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            <li><a class="dropdown-item d-flex justify-content-center"><span
                  class="font-weight-bold">Status:</span>Online</a>
            </li>

            <li>

              <hr class="dropdown-divider">

            </li>

            <li><a class="dropdown-item d-flex justify-content-center">Account Setting</a></li>

            <li>

              <hr class="dropdown-divider">

            </li>

            <li><a class="dropdown-item d-flex justify-content-center">Feedback</a></li>

            <li>

              <hr class="dropdown-divider">

            </li>

            <li><a class="dropdown-item d-flex justify-content-center" (click)="onLogoutButtonClick()">Logout</a></li>

          </ul>

        </div>
        <img [src]="loggedInUserProfileImageUrl" class="card-img-top rounded-circle" />

      </form>

    </div>
  </div>
</nav>
