<app-sidebar></app-sidebar>
<header>
    <app-top-header></app-top-header>
  </header>
  <br> 
  <section>
    <nav>
       <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
       <div class="body">
          <app-sidebar></app-sidebar>
       </div>
    </nav>
    <br>
    <div class="right">
       <div class="grid-container">
          <div class="today">
             <h3 class="acc">Accepted Appointments</h3>
             <h1 class="num">{{acceptednumber}} <span class="to">Today</span></h1>
          </div>
          <div class="today">
             <h3 class="acc">Total Appointments</h3>
             <h1 class="num">{{totalnumber}} <span class="to">Today</span></h1>
          </div>
          <div class="today">
             <h3 class="acc">Cancelled Appointment</h3>
             <h1 class="num">{{cancelledNumber}} <span class="to">Today</span></h1>
          </div>
       </div>
       <br>
       <hr id="hr">
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
       <div class="app">
         <div class="allapp">
          <h3>All Appointments</h3>
        </div>
        <div class="demo-zone">
          <label>Filter: </label>
          <select id="demoShort2">
            <option value="All" selected disabled hidden>All</option>
            <option value="All">All</option>
              <option value="Confirmed">Confirmed</option>
              <option value="Canceled">Cancelled</option>
              <option value="Closed" >Closed</option>
              
          </select>
      </div>
        
          <button class="btnn">
            <img src="https://www.pngkit.com/png/full/154-1545388_project-thumbnail-plus-icon-queensland-government-logo-white.png" alt="plus" class="plus">
           <a href="#"> New Appointment</a> </button>
       </div>
       <hr id="hr">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
       integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
       <div class="container aap">
        <div class="row mt-3 card-group" >
            <div class="col-3" *ngFor="let appointment of patinentsAppointmentList">
                <div class="card mb-4 " >
                    <div class="card-body ">
                        <div class="row">
                                 <img class="col-3 profileImage" [src]="imageurl"/>
  
                                <p class="col-7 mt-2 profileName">{{appointment.name}}</p>
                        </div>
                        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
                        rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
                        <div class="row piped menu-icons1" *ngIf="appointment.isconfirmed == true">
                            <img class="icon-image col-3" src="../../../../../assets/images/messege.image.png"/> 
                            <img class="icon-image col-3" src="../../../../../assets/images/call.image.png"/> 
                            <img class="icon-image col-3" src="../../../../../assets/images/video.image.png"/> 
                           <p><i class="bi bi-chat-right-text"></i></p> 
                          </div>
                          <div class="row piped menu-icons2" *ngIf="appointment.isconfirmed == false">
                            <img class="icon-image col-3" src="https://cutewallpaper.org/24/green-check-mark-icon-transparent-background/2081422813.jpg"(click)="conformBtn()"> 
                            <img class="icon-image col-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlM3XOXwBNABV1EgdcksQ2Y3nokxKsNfLstkoNkyj3mjj3rQn2aOw2t5SNWMvOOibgm90&usqp=CAU" (click)="cancelledBtn()">
                                 </div>
                        <hr id="hn">
                        <div class="row">
                            <p class="col-6 appoint-time" >{{appointment.time}}</p>
                             <p class="col-6  appoint-status" >{{appointment.issue}}</p> 
                        </div>
                        <div class="row">
                          <p class="col-6  appoint-date" >{{appointment.date}}</p>
                        </div>
                        <hr>
                        <div class="row" >
                            <a class="col-6 hyperlinks">View Detail</a>
                            <a class="col-6 hyperlinks">Give feedback</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
