<!-- <p>view-all-prescription works!</p> -->

<!-- <html>

<head>
  <style> </style>
  <link rel="stylesheet" href="landing-screen.component.scss">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head> -->
<!-- <body>
  <div class="card">
    <div class="row">
      <div class="col-10">
        <div class="sc">
          <h5><strong>Prescription</strong></h5>
        </div>
      </div>
      <div class="col-1">
        <div class="cs">
          <p><i class="fa-solid fa-square-plus fa-2x plus"></i></p>
        </div>
      </div>
    </div>
    <div class="container">
      
    </div>
  </div> 
</body> -->
<!-- <div class="card">
  <table class="table">
    <thead>
      <tr>
        <td scope="col" colspan="2" class="text-primary"><h5>Prescription</h5></td>
        <td scope="col"><button class="add-btn"><i class="fa-solid fa-square-plus fa-2x plus"></i> </button></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of pre">
        <td scope="row" class=".col-auto">{{data.Medicine}}</td>
        <td scope="row" class=".col-auto">{{data.cycle}}</td>
        <td scope="row" class=".col-auto">{{data.description}}</td>
        <td><a href="#"><img src="../../../../../../../assets/delete.png" alt=""></a></td>
     </tr>
    </tbody>
  </table>
</div>
</html> -->