 
  <div class = "top-card">
    <div class="card">
    <div class="card-body">
      <form [formGroup]="feedbackForm">
      <h1 class="card-title">FeedBack Form</h1>
      <hr>
    <div>
        <h5>1.How Satisfied are you with the competence of the doctor? </h5>
        <div class="card-body">
         
    <input  type="radio" name="feedback1" attributes="{'checked' :res[0].feedback1 ==='1'} "formControlName="feedback1" id="inlineRadio1" value="1">
    <label  for="inlineRadio1">1</label>

    <input  type="radio" name="feedback1" formControlName="feedback1" id="inlineRadio2" value="2">
    <label for="inlineRadio2">2</label>


    <input  type="radio" name="feedback1" formControlName="feedback1" id="inlineRadio3" value="3">
    <label for="inlineRadio3">3</label>

    <input type="radio" name="feedback1" formControlName="feedback1" id="inlineRadio4" value="4">
    <label for="inlineRadio4">4</label>

    <input  type="radio" name="feedback1" attributes="{'checked' :res[0].feedback1 ==='5'}" formControlName="feedback1" id="inlineRadio5" value="5">
    <label for="inlineRadio5">5</label>
</div>
<h5>2.How Satisfied are you with the outcome of treatment? </h5>
<div class="card-body">
    <input  type="radio" name="feedback2" formControlName="feedback2" id="inlineRadio6" value="1">
    <label for="inlineRadio6">1</label>

    <input  type="radio" name="feedback2" formControlName="feedback2" id="inlineRadio7" value="2">
    <label  for="inlineRadio7">2</label>


    <input  type="radio" name="feedback2" formControlName="feedback2" id="inlineRadio8" value="3">
    <label for="inlineRadio8">3</label>

    <input type="radio" name="feedback2" formControlName="feedback2" id="inlineRadio9" value="4">
    <label for="inlineRadio9">4</label>

    <input  type="radio" name="feedback2" attributes="{'checked' :res[0].feedback1 ==='5'}" formControlName="feedback2" id="inlineRadio10" value="5">
    <label for="inlineRadio10">5</label>
</div>
    <h5>3.Would you refer this docter to others</h5>
    <div class="card-body">
        <input  type="radio" name="feedback3" formControlName="feedback3" id="inlineRadio11" value="1">
        <label  for="inlineRadio11">1</label>

        <input type="radio" name="feedback3" formControlName="feedback3" id="inlineRadio12" value="2">
        <label for="inlineRadio12">2</label>


        <input type="radio" name="feedback3" formControlName="feedback3" id="inlineRadio13" value="3">
        <label  for="inlineRadio13">3</label>

        <input type="radio" name="feedback3" formControlName="feedback3" id="inlineRadio14" value="4">
        <label for="inlineRadio44">4</label>

        <input  type="radio" name="feedback3" attributes="{'checked' :res[0].feedback1 ==='5'}" formControlName="feedback3" id="inlineRadio15" value="5">
        <label for="inlineRadio15">5</label>
    </div>
        <h5>4.How Satisfied are you with the process of booking appoi</h5>
        <div class="card-body">
            <input  type="radio" name="feedback4" formControlName="feedback4" id="inlineRadio16" value="1">
            <label  for="inlineRadio16">1</label>
    
            <input type="radio" name="feedback4" formControlName="feedback4" id="inlineRadio17" value="2">
            <label  for="inlineRadio17">2</label>
    
    
            <input type="radio" name="feedback4" formControlName="feedback4" id="inlineRadio18" value="3">
            <label for="inlineRadio18">3</label>
    
            <input  type="radio" name="feedback4" formControlName="feedback4" id="inlineRadio19" value="4">
            <label  for="inlineRadio19">4</label>
    
            <input  type="radio" name="feedback4" attributes="{'checked' :res[0].feedback1 ==='5'}" formControlName="feedback4" id="inlineRadio20" value="5">
            <label  for="inlineRadio20">5</label>
        </div>
            <h5>5.Additional Comments</h5>
            <div>
                <textarea rows="5" cols="50" formControlName="comments"></textarea>
            </div>
            <button type="submit" class="submit-button" type="submit" (click)=" addFeedback()" >Submit</button>     
            <button type="submit" class="cancel-button"type="button">Cancel</button>
        </div> 
        </form>
    </div>
  </div>
</div>


