<div class="container ">
<div class="box rtdd">
    <div class="title">
        <h1>Appointment History</h1>

        <div class="filter">
            <select [(ngModel)]="filterYear" (change)="filterOnYear()">
                <option value=""><span class="abc">All</span></option>
                <option *ngFor="let year of appointmentYears">{{ year }}</option>
              </select>
        </div>
    </div>
    
    <hr>
    <ul class="list">
        <li *ngFor="let appointment of appointments">
             <app-appointment-tile
             [doctorName]="appointment.doctorName"
             [specialisation]="appointment.specialisation"
             [time]="appointment.time"
             [date]="appointment.date"
             [description]="appointment.description"
             [comment]="appointment.comment"
             [test]="appointment.test"
            ></app-appointment-tile>
        </li>
    </ul>
    </div>
</div>