.card{
    margin-top: 0%;
      height: 5%;
      width:100%;
    padding-top: 4%;
    padding-bottom: 5%;
    text-align: left;
    border-radius: 3%;
    box-shadow: 0px 0px 5px rgb(87, 86, 85);
    }
    
    .row{
      margin-left: 0%; //changed
    }
    
    
    .card .line{
      border-bottom: 2px solid  black;
      height: 20px;
      width: 100%;
     border: none;
     background-color: transparent;
     margin-bottom: 10px;
     
    }
    
    input[type="text"][readonly]{
      border-bottom: 2px solid  black;
       border: none;
       height: 20px;
      width: 100%;
      background-color: transparent;
    }
    
    #btn {
      font-style: white;
      background-color: #34495e;
    }
    
    #save:active {
      background-color: white;
      color: blueviolet;
   }
  