/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #18385c;
    --secondary-color: #4e6c84;
    --white: #ffffff;
    --grey: #b9c3ce;
    --dark-grey: #888888;
    --error-red: #ff4141;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before,
*:after,
*:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Roboto';
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 35%;
    border-style:single line;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 250px 16px;
  }
