/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #18385c;
    --secondary-color: #4e6c84;
    --white: #ffffff;
    --grey: #b9c3ce;
    --dark-grey: #888888;
    --error-red: #ff4141;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before,
*:after,
*:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Roboto';
}



.mat-dialog-container{

    border-radius: 25px !important;
  
    padding: 0px !important;
  
  }
  
  .mat-form-field-appearance-fill .mat-form-field-flex{
  
    background-color: white;
  
  }
  
  
  
  .dialog-responsive{
  
    width: 100%;
  
  }


  //Add-edit 
// .modal-content {
//   position: relative !important;
//   display: flex !important;
//   flex-direction: column !important;
//   width: 75% !important;
//   pointer-events: auto !important;
//   background-color: #fff;
//   background-clip: padding-box;
//   border: 0px solid rgba(0,0,0,.2) !important;
//   border-radius: 25px !important;
//   outline: 0;
//   height: 60vh;
// }

// .button, input, optgroup, select, textarea {
//   margin: 0;
//   font-family: inherit;
//   font-size: inherit;
//   line-height: inherit;
//   border: none;
//   border-bottom: 2px #1a5662;
//   width: 100%;
//   color: rgb(15, 14, 14);
//   cursor: pointer !important;
// }
// h3 {
//   text-align: center;
//   color: #02404d;
//   font-family: 'Times New Roman', Times, serif;
//   padding-top: 12px;
//   font-size: medium;
// }
// .btn btn1{
//   border-radius: 25px;
//   border: none
// }
